@font-face {
  font-family: "NetflixSans";
  src: local("NetflixSans"),
   url("./fonts/NetflixSans-Regular.ttf") format("truetype");
  }

body {
  background-color:  white ;
  margin: 0;
}
h1, h2, p, ul, li, input{
  font-family: 'NetflixSans';
}
ul.header {
  margin: 0;
  display: flex;
  padding: 0 4%;
  align-items: center;
  height: 100px;
  z-index: 10;
  top: 0;
  left: 0;
  position: relative;
  padding: 10;
  list-style: none;
  overflow: hidden;
  background-color: white;
  font-size: small;
}
.logo {
  display:flex;
  align-items: center;
  margin-right: 5px;
}
.logo img {
  object-fit: contain;
  height: 80px;
}
.header-options {
  display:flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;

}
.header-options div {
  cursor: pointer;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul.header li a {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
.header-options {
  display:flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}
.icon {
  padding: 10px;
  font-size: 1.3rem;
  color: white;
}
.slideView {
  margin-left: 5%;
}
.tableView{
  height: 100%;
}
.Button {
    color: black;
    font-family: 'NetflixSans';
    text-transform: capitalize;
}
